In [1]:
import pandas as pd

In [14]:
df = pd.read_excel("../data/clean_data.xlsx")
df.head()

,Unnamed: 0.1,Unnamed: 0,timestamp,facility_name,country,province,district,sector,cell,fullname,stock_item_code,status,quantity
0,0,0,2024-04-01,Kiyovu_Nyarugenge (Biryogo),Rwanda,kigali,nyarugenge,nyarugenge,kiyovu,Mediatrice_Murorunkwere,RapidDiagnosticTest,Dispensed,2
1,1,1,2024-04-01,Sha_Nduba (Nduba),Rwanda,kigali,gasabo,nduba,sha,Jean_Paul_Murenzi,Arthemether_20mg_Lumefantrine_120mg_Tab_6x4,Dispensed,5
2,2,2,2024-04-01,Berwa_Kibenga_Ndera,Rwanda,kigali,gasabo,ndera,kibenga,Asiza_Mukandayisenga,RapidDiagnosticTest,Dispensed,5
3,3,3,2024-04-02,Sakirwa_Gasharu_Kicukiro,Rwanda,kigali,kicukiro,kicukiro,gasharu,Mustafa_Kagabo,RapidDiagnosticTest,Approved,4
4,4,4,2024-04-02,Sakirwa_Gasharu_Kicukiro,Rwanda,kigali,kicukiro,kicukiro,gasharu,Mustafa_Kagabo,Arthemether_20mg_Lumefantrine_120mg_Tab_6x2,Approved,3

In [3]:
df['fullname'] = df['fullname'].str.replace(' ', '_')

In [8]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [10]:
df.columns

Index(['Unnamed: 0', 'timestamp', 'facility_name', 'country', 'province',
       'district', 'sector', 'cell', 'fullname', 'stock_item_code', 'status',
       'quantity'],
      dtype='object')

In [12]:
# categorical columns
cat_cols = ['province', 'district', 'sector', 'cell']
for col in cat_cols:
    df[col] = df[col].str.lower()

In [13]:
df.to_excel("../data/clean_data.xlsx")